<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="advert">
        <ng-adsense [adClient]="'ca-pub-7640562161899788'" [adSlot]=" 7259870550" [display]="'inline-block'"
            [width]="720" [height]="108">
        </ng-adsense>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/HandsomeRomanian"> HandsomeRomanian</a>
        <span> - </span>
        <a href="https://github.com/HandsomeRomanian/AmongUsMap">Contributions</a>
        <br>
        <p>Game content and materials are trademarks and copyrights of their respective <a
                href="http://www.innersloth.com">publisher</a> and its licensors. All
            rights reserved.
            <br>
            This site is not affiliated with the game <a href="http://www.innersloth.com">publisher</a> .
        </p>
    </div>
</footer>