<div class="main">

    <div style="width: 100%;">
        <img id="img_ID" *ngIf="!this.seetasks" width="100%" src="{{this.map.Image}}" alt="{{this.map.Name}} Image"
            usemap="#image-map">

        <map name="image-map" id="map_ID">
            <area style="cursor: pointer;" *ngFor="let task of this.tasks" alt="{{task.Name}}" title="{{task.Name}}" (click)="test(task.Id)"
                coords="{{task.Location[0] * this.Ratio()}},{{task.Location[1] * this.Ratio()}},{{task.Location[2] * this.Ratio()}},{{task.Location[3] * this.Ratio()}}" 
                shape="rect" data-toggle="tooltip" data-placement="top">
        </map>
    </div>

</div>
