<div class="main">
    <h1 class="title text-center">{{this.map.Name}}</h1>
    <div class="toggle">
        <p style="margin: 0;">See Tasks</p>
        <label class="switch">
            <input type="checkbox" [(ngModel)]="this.seetasks">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <img *ngIf="!this.seetasks" style="width: 100%" src="{{this.map.image}}" alt="Workplace" usemap="#image-map">
        <img *ngIf="this.seetasks" style="width: 100%" src="/assets/tasks/{{this.map.id}}.png" alt="Workplace"
            usemap="#image-map"> 
        <map name="image-map">
            <area alt="Medbay viles" title="Medbay viles" href="#" coords="3816,2172,4125,2473" shape="rect">
            <area target="_blank" alt="Medbay scan" title="Medbay scan" href="#" coords="3576,2357,3916,2581" shape="rect">
            <area alt="Storage Trash" title="Storage Trash" href="" coords="4945,4467,5246,4939" shape="rect">
            <area alt="Fuel" title="Fuel" href="" coords="4473,3957,4597,4112" shape="rect">
            <area alt="Vent" title="Vent" href="" coords="3228,2937,3352,3022" shape="rect">
        </map>
        <!-- <map name="workmap">
            <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
            <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
            <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
        </map> -->
    </div>
    <!-- <div class="sidebar">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cables
                <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Divert Power
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Download
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Trash
                <span class="badge badge-primary badge-pill">3</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Visual
                <span class="badge badge-primary badge-pill">4</span>
            </li>
        </ul>
    </div> -->
</div>